Flask==0.12.2
numpy==1.14.2
Cython==0.29.6
pyOpenSSL==19.0.0
flask_bootstrap==3.3.7.1
flask_login==0.4.1
flask_sqlalchemy==2.3.2
flask_wtf==0.14.2
protobuf==3.7.0
ipaddr==2.2.0
lxml==4.3.2
mock==2.0.0
ndg_httpsclient==0.5.1
passlib==1.7.1
pyasn1==0.4.5
redis==3.2.0
setuptools_svn==1.2
simplejson==3.16.0
wincertstore==0.2
WTForms==2.2.1
